.container {
  padding: 80px 50px 0px 50px;
}

.product-container {
  margin: 20px 20px 20px 20px;
}

.profile-div {
  width: 350px;
  padding: 20px;
}

.btn-upload {
  background: darkblue;
  border: none;
  width: 80px;
  color: white;
  margin-top: 10px;
}

.btn-upload:hover {
  background-color: #555;
}

/* file upload button */
input[type="file"]::file-selector-button {
  border-radius: 4px;
  padding: 0 16px;
  height: 40px;
  cursor: pointer;
  background-color: white;
  border: 1px solid rgba(0, 0, 0, 0.16);
  box-shadow: 0px 1px 0px rgba(0, 0, 0, 0.05);
  margin-right: 16px;
  transition: background-color 200ms;
}

/* file upload button hover state */
input[type="file"]::file-selector-button:hover {
  background-color: #f3f4f6;
}

/* file upload button active state */
input[type="file"]::file-selector-button:active {
  background-color: #e5e7eb;
}

.add-product-btn {
  width: 80px;
  height: 80px;
  background-color: darkblue;
  color: white;
  border-radius: 20px;
  box-shadow: 5px 5px 5px #b6b6b6;
  border: none;
}

.add-product-btn:hover {
  background-color: #555;
}

.add-product-form input {
  width: 250px;
  margin: 10px;
  padding: 5px;
}

.add-product-form label {
  width: 130px;
}

.cart-card {
  width: 600px;
  margin: 30px 0px 40px 0px;
}

.generic-field {
  width: 100%;
  height: 600px;
}

@media only screen and (max-device-width: 480px) {
  .container {
    padding: 80px 30px 0px 30px;
  }

  .profile-div {
    width: 300px;
    overflow: hidden;
  }

  .cart-card {
    width: 300px;
    height: 150px;
    font-size: smaller;
  }

  .generic-field {
    height: 200px;
    margin-bottom: 20px;
  }
}
